* {
    font-family: "Geist", sans-serif;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

html {
    background-color: #F8FAFC;
}


/* Responsive Origin */

@media screen and (max-width: 500px) {
    #issue-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #issueCountPart {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .issueCountContent-1 {
        grid-column: span 9;
    }

    .issueCountContent-2 {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr;
    }

    /* .nav-container {
        display: flex;
        gap: 12px
    } */

    .logo {
        flex-direction: column;
        height: auto;
    }

    .logo img {
        width: 50px;
    }

    .logo span {
        /* font-size: 18px; */
        text-align: center;
    }

    .search-box {
        flex-direction: column-reverse;
        align-items: end;
    }

    .search-feild {
        width: 100%;
    }

    .new-issue-btn {
        width: fit-content;
    }
}

@media screen and (min-width: 501px) and (max-width: 639px) {
    #issue-cards-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #issueCountPart {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .issueCountContent-1 {
        grid-column: span 10;
    }

    .issueCountContent-2 {
        grid-column: span 2;
        display: grid;
        grid-template-columns: 1fr;
    }

    .logo {
        flex-direction: row;
        gap: 12px;
        height: auto;
    }

    .logo img {
        width: 40px;
    }
    .logo span {
        font-size: 18px;
    }

    .search-box {
        flex-direction: column-reverse;
        align-items: end;
    }

    .search-feild {
        width: 100%;
    }

    .new-issue-btn {
        width: fit-content;
    }
}